/**
    @mixin gradientBorder
    @param {number} $width - The width of the element.
    @param {number} $height - The height of the element.
    @param {number} $border-width - The width of the border.
    @param {string} $color1 - The first color of the gradient.
    @param {string} $color2 - The second color of the gradient.
    @param {string} $color3 - The third color of the gradient.
    @param {string} $color4 - The fourth color of the gradient.
    @return {object} - The mixin for the gradient border.

*/
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(-30px); /* Move up by 30px */
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 2.2rem;
  color: #fff;
  line-height: 1.2;
}

.primary-heading {
  font-size: 15rem;
  z-index: -100;
  opacity: 0.08;
  transform: translateY(0rem) rotate(-1deg);
}

.container {
  width: 850px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.461);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.6rem;
}

.tooltip-text-visible {
  visibility: visible;
  opacity: 1;
}

.border-4 {
  margin-top: 6rem;
}

.highlight {
  color: purple;
}

.reset {
  color: gray;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.card {
  width: 35rem;
  background-color: #2c2c2c;
  padding: 15px;
  border-radius: 10px;
  transition: all 1s;
}
.card img {
  width: 100%;
}
.card__content {
  padding: 1rem;
  font-size: 2rem;
}
.card__content h3 {
  margin-top: 1rem;
}
.card__content p {
  color: gray;
  font-size: 1.8rem;
}
.card__content__desc {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
.card__content__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1.5rem;
}
.card__content__tags p {
  font-size: 1.5rem !important;
  background-color: purple;
  text-transform: lowercase;
  padding: 3px 20px;
  border-radius: 10px;
  color: #fff;
}
.card__content__source {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
.card__content__source a {
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  flex: 1;
  padding: 1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 3.5rem;
  border: 0.1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(45deg, red, blue, #a52a2a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.card__content__source a i {
  margin-right: 10px;
}
.card:hover {
  background-color: #3c3c3c;
  box-shadow: 0 200px 20px solid rgb(255, 255, 255);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.profile__box {
  width: 12rem;
  height: 12rem;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid rgba(128, 0, 128, 0.686);
}
.profile__box__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(45deg, red, blue, #a52a2a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.profile__header {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 3rem;
  border: 1px solid rgba(128, 0, 128, 0.686);
}
.profile__header__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(45deg, red, blue, #a52a2a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.profile__content {
  margin-top: 14px;
  color: #a5a8a5;
}
.profile__content__description {
  gap: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  color: gray;
}
.profile__content h1 {
  font-size: 4rem;
  color: #fff;
}
.profile__icon {
  width: 26px;
  height: 26px;
  border-radius: 1px;
  border: 2px solid transparent;
  border-radius: 1px;
  background-image: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(45deg, red, blue, brown);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.profile__icon div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.93);
  width: 100%;
  height: 100%;
}
.profile__icon img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.timeline {
  position: relative;
  margin-top: 15rem;
  margin-bottom: 12rem;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline__container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timeline__container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.timeline__container--left {
  left: 0;
}
.timeline__container--left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.timeline__container--right {
  left: 50%;
}
.timeline__container--right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.timeline__container--right::after {
  left: -16px;
}
.timeline__content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.timeline__year {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.timeline__text {
  font-size: 16px;
  color: #333;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  .timeline__container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline__container::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .timeline__container::after {
    left: 15px;
  }
  .timeline__container--right {
    left: 0%;
  }
}
.footer {
  padding: 20px 0;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.footer__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__social {
  margin-bottom: 15px;
}
.footer__social-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.footer__social-link:hover {
  color: #ff9f55;
}
.footer__credits {
  font-size: 16px;
  margin-bottom: 5px;
  font-style: italic;
}
.footer__text {
  font-size: 14px;
}

.header {
  height: 70vh;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(28, 28, 28, 0.9), #1e1e1e), url("https://i.pinimg.com/236x/8c/95/51/8c9551b26757a05cc91511f6df4ad6a5.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: end;
}
.header__logos {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border: 4px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(45deg, red, blue, #a52a2a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.header__logos img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__tailwind {
  top: 6rem;
  left: 40rem;
  animation: moveUpDown 4s ease-in-out infinite;
}
.header__js {
  top: 16rem;
  left: 74rem;
  animation: moveUpDown 6s ease-in-out infinite;
}
.header__php {
  top: 6rem;
  right: 26rem;
  animation: moveUpDown 8s ease-in-out infinite;
}
.header__content {
  color: #ccc;
}
.header__content p {
  margin-top: 4rem;
}

.navbar {
  padding: 10px 0;
  margin: 3rem 0px;
  transition: all 0.1s; /* Smooth transition */
  width: 850px;
  color: #ccc;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}
.navbar--sticky {
  background-color: rgba(28, 28, 28, 0.6196078431);
  position: fixed;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.navbar__list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: 1rem;
}
.navbar__item {
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar__item i {
  background-color: purple;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navbar__link {
  text-decoration: none;
  color: #ccc;
  padding: 10px 5px;
  transition: background-color 0.3s ease-in-out;
  margin-left: 5px;
}

.main {
  min-height: 70vh;
}

.about {
  margin-top: 4rem;
}
.about p {
  margin-top: 3rem;
}
.about__skills {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.about__skills__skill {
  position: relative;
  width: 10rem;
  height: 10rem;
}
.about__skills__skill:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.about__skills__skill img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s;
}

.projects__box {
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.projects__intro {
  margin-top: 6rem;
  margin-bottom: 4rem;
  color: rgb(152, 152, 152);
}

/* General Styles */
/* icons */
.icon-outer-box {
  width: 26px;
  height: 26px;
  border-radius: 1px;
}

.icon-inner-box {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}

.icon-inner-box img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.gradient-border {
  border-image: linear-gradient(45deg, #ff6b6b, #f7d079, #4ecdc4);
  border-image-slice: 1;
}

/*# sourceMappingURL=style.css.map */
