.header {
  height: 70vh;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(28, 28, 28, 0.9), #1e1e1e),
    url('https://i.pinimg.com/236x/8c/95/51/8c9551b26757a05cc91511f6df4ad6a5.jpg')
      no-repeat center center;
  background-size: cover;

  display: flex;
  align-items: end;

  &__logos {
    position: absolute;
    width: 7rem;
    height: 7rem;
    @include gradientBorder(4px, 50%, red, blue, #a52a2a);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__tailwind {
    top: 6rem;
    left: 40rem;

    animation: moveUpDown 4s ease-in-out infinite;
  }

  &__js {
    top: 16rem;
    left: 74rem;
    animation: moveUpDown 6s ease-in-out infinite;
  }
  &__php {
    top: 6rem;
    right: 26rem;
    animation: moveUpDown 8s ease-in-out infinite;
  }

  &__content {
    color: #ccc;
    // margin-bottom: 2rem;

    p {
      margin-top: 4rem;
    }
  }
}
