.card {
  & {
    width: 35rem;
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 10px;
    transition: all 1s;

    img {
      width: 100%;
    }

    &__content {
      padding: 1rem;
      font-size: 2rem;

      h3 {
        margin-top: 1rem;
      }
      p {
        color: gray;
        font-size: 1.8rem;
      }

      &__desc {
        margin-top: 1.5rem;
        font-size: 1.8rem;
      }

      &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 1.5rem;

        p {
          font-size: 1.5rem !important;
          background-color: purple;
          text-transform: lowercase;
          padding: 3px 20px;
          border-radius: 10px;
          color: #fff;
        }
      }

      &__source {
        @include flexCenter(row, center, space-between);
        gap: 10px;
        margin-top: 2rem;

        a {
          color: white;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          flex: 1;
          padding: 1px 0px;
          @include flexCenter();
          font-size: 1.4rem;
          height: 3.5rem;
          @include gradientBorder(0.1px, 10px, red, blue, #a52a2a);

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  &:hover {
    background-color: #3c3c3c;
    box-shadow: 0 200px 20px solid rgba(255,255, 255, 1);
  }
}
